<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% extends 'base.html' %}
  {% block title%}<h1>Freindly Survey</h1>{% endblock %}
  {% block content %} 
  <h1>Freindly Survey</h1>
  <p>Tell us about your experience</p>
  <form action="/questions/0">
  <button>Start</button> 
  </form>
  {% endblock %}

</body>
</html>